<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TryParseSteam.Properties.Settings.JustForTestConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=JustForTest;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TryParseSteam.Properties.Settings.STEAM_PARSINGConnectionString" connectionString="Data Source=wpl44.hosting.reg.ru;Initial Catalog=u1286676_STEAM_PARSING;Persist Security Info=True;User ID=u1286676_Deallocate;Password=Fhz5f812~;Max Pool Size=600;Asynchronous Processing=True" providerName="System.Data.SqlClient" />
    <add name="GameEntities" connectionString="metadata=res://*/GameModel.csdl|res://*/GameModel.ssdl|res://*/GameModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=JustForTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SteamEntities" connectionString="metadata=res://*/StemModelDB.csdl|res://*/StemModelDB.ssdl|res://*/StemModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wpl44.hosting.reg.ru;initial catalog=u1286676_STEAM_PARSING;persist security info=True;user id=u1286676_Deallocate;password=Fhz5f812~;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>